//Fonts
$font-oxanium: "Oxanium";

//Breakpoints
$grid-breakpoints:("xs": 420px,
  "s":560px,
  "m": 768px,
  "l": 1024px,
  "xl": 1200px);

//Colors
$color-light-blue: #003291;
$color-red:#BE0019;
$color-black: #090B3C;
$color-white: #FEFDF8;