@font-face {
  font-family: "Oxanium";
  src: url("/fonts/Oxanium-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Oxanium";
  src: url("/fonts/Oxanium-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Oxanium";
  src: url("/fonts/Oxanium-SemiBold.woff2");
  font-weight: 600;
}